# комментарий — эта строка игнорируется

# игнорировать все файлы в каталоге build/
build/

# игнорировать все файлы в каталоге node_modules/
node_modules/

# игнорировать все файлы в каталоге .idea/
.idea/
