# комментарий — эта строка игнорируется

# игнорировать только файл TODO находящийся в корневом каталоге, не относится к файлам вида subdir/TODO
/TODO

# игнорировать все файлы в каталоге build/
build/

# игнорировать все файлы в каталоге node_modules/
node_modules/

# игнорировать все файлы в каталоге .idea/
.idea/
